init_config:
  # List of metrics to extract from Prometheus
  allowed_metrics:
    - go_gc_duration_seconds
    - go_gc_duration_seconds_count
    - go_gc_duration_seconds_sum
    - go_goroutines
    - go_memstats_alloc_bytes
    - go_memstats_alloc_bytes_total
    - go_memstats_buck_hash_sys_bytes
    - go_memstats_frees_total
    - go_memstats_gc_cpu_fraction
    - go_memstats_gc_sys_bytes
    - go_memstats_heap_alloc_bytes
    - go_memstats_heap_idle_bytes
    - go_memstats_heap_inuse_bytes
    - go_memstats_heap_objects
    - go_memstats_heap_released_bytes
    - go_memstats_heap_sys_bytes
    - go_memstats_last_gc_time_seconds
    - go_memstats_lookups_total
    - go_memstats_mallocs_total
    - go_memstats_mcache_inuse_bytes
    - go_memstats_mcache_sys_bytes
    - go_memstats_mspan_inuse_bytes
    - go_memstats_mspan_sys_bytes
    - go_memstats_next_gc_bytes
    - go_memstats_other_sys_bytes
    - go_memstats_stack_inuse_bytes
    - go_memstats_stack_sys_bytes
    - go_memstats_sys_bytes
    - go_threads
    - http_request_duration_microseconds
    - http_request_duration_microseconds_count
    - http_request_duration_microseconds_sum
    - http_request_size_bytes
    - http_request_size_bytes_count
    - http_request_size_bytes_sum
    - http_requests_total
    - http_response_size_bytes
    - http_response_size_bytes_count
    - http_response_size_bytes_sum
    - process_cpu_seconds_total
    - process_max_fds
    - process_open_fds
    - process_resident_memory_bytes
    - process_start_time_seconds
    - process_virtual_memory_bytes
    - prometheus_build_info
    - prometheus_config_last_reload_successful
    - prometheus_config_last_reload_success_timestamp_seconds
    - prometheus_engine_queries
    - prometheus_engine_queries_concurrent_max
    - prometheus_engine_query_duration_seconds
    - prometheus_engine_query_duration_seconds_count
    - prometheus_engine_query_duration_seconds_sum
    - prometheus_evaluator_duration_seconds
    - prometheus_evaluator_duration_seconds_count
    - prometheus_evaluator_duration_seconds_sum
    - prometheus_evaluator_iterations_missed_total
    - prometheus_evaluator_iterations_skipped_total
    - prometheus_evaluator_iterations_total
    - prometheus_local_storage_checkpoint_duration_seconds_count
    - prometheus_local_storage_checkpoint_duration_seconds_sum
    - prometheus_local_storage_checkpointing
    - prometheus_local_storage_checkpoint_last_duration_seconds
    - prometheus_local_storage_checkpoint_last_size_bytes
    - prometheus_local_storage_checkpoint_series_chunks_written_count
    - prometheus_local_storage_checkpoint_series_chunks_written_sum
    - prometheus_local_storage_chunk_ops_total
    - prometheus_local_storage_chunks_to_persist
    - prometheus_local_storage_fingerprint_mappings_total
    - prometheus_local_storage_inconsistencies_total
    - prometheus_local_storage_indexing_batch_duration_seconds
    - prometheus_local_storage_indexing_batch_duration_seconds_count
    - prometheus_local_storage_indexing_batch_duration_seconds_sum
    - prometheus_local_storage_indexing_batch_sizes
    - prometheus_local_storage_indexing_batch_sizes_count
    - prometheus_local_storage_indexing_batch_sizes_sum
    - prometheus_local_storage_indexing_queue_capacity
    - prometheus_local_storage_indexing_queue_length
    - prometheus_local_storage_ingested_samples_total
    - prometheus_local_storage_maintain_series_duration_seconds
    - prometheus_local_storage_maintain_series_duration_seconds_count
    - prometheus_local_storage_maintain_series_duration_seconds_sum
    - prometheus_local_storage_memory_chunkdescs
    - prometheus_local_storage_memory_chunks
    - prometheus_local_storage_memory_dirty_series
    - prometheus_local_storage_memory_series
    - prometheus_local_storage_non_existent_series_matches_total
    - prometheus_local_storage_open_head_chunks
    - prometheus_local_storage_out_of_order_samples_total
    - prometheus_local_storage_persistence_urgency_score
    - prometheus_local_storage_persist_errors_total
    - prometheus_local_storage_queued_chunks_to_persist_total
    - prometheus_local_storage_rushed_mode
    - prometheus_local_storage_series_chunks_persisted_bucket
    - prometheus_local_storage_series_chunks_persisted_count
    - prometheus_local_storage_series_chunks_persisted_sum
    - prometheus_local_storage_series_ops_total
    - prometheus_local_storage_started_dirty
    - prometheus_local_storage_target_heap_size_bytes
    - prometheus_notifications_alertmanagers_discovered
    - prometheus_notifications_dropped_total
    - prometheus_notifications_queue_capacity
    - prometheus_notifications_queue_length
    - prometheus_rule_evaluation_failures_total
    - prometheus_sd_azure_refresh_duration_seconds
    - prometheus_sd_azure_refresh_duration_seconds_count
    - prometheus_sd_azure_refresh_duration_seconds_sum
    - prometheus_sd_azure_refresh_failures_total
    - prometheus_sd_consul_rpc_duration_seconds
    - prometheus_sd_consul_rpc_duration_seconds_count
    - prometheus_sd_consul_rpc_duration_seconds_sum
    - prometheus_sd_consul_rpc_failures_total
    - prometheus_sd_dns_lookup_failures_total
    - prometheus_sd_dns_lookups_total
    - prometheus_sd_ec2_refresh_duration_seconds
    - prometheus_sd_ec2_refresh_duration_seconds_count
    - prometheus_sd_ec2_refresh_duration_seconds_sum
    - prometheus_sd_ec2_refresh_failures_total
    - prometheus_sd_file_read_errors_total
    - prometheus_sd_file_scan_duration_seconds
    - prometheus_sd_file_scan_duration_seconds_count
    - prometheus_sd_file_scan_duration_seconds_sum
    - prometheus_sd_gce_refresh_duration
    - prometheus_sd_gce_refresh_duration_count
    - prometheus_sd_gce_refresh_duration_sum
    - prometheus_sd_gce_refresh_failures_total
    - prometheus_sd_kubernetes_events_total
    - prometheus_sd_marathon_refresh_duration_seconds
    - prometheus_sd_marathon_refresh_duration_seconds_count
    - prometheus_sd_marathon_refresh_duration_seconds_sum
    - prometheus_sd_marathon_refresh_failures_total
    - prometheus_sd_openstack_refresh_duration_seconds
    - prometheus_sd_openstack_refresh_duration_seconds_count
    - prometheus_sd_openstack_refresh_duration_seconds_sum
    - prometheus_sd_openstack_refresh_failures_total
    - prometheus_sd_triton_refresh_duration_seconds
    - prometheus_sd_triton_refresh_duration_seconds_count
    - prometheus_sd_triton_refresh_duration_seconds_sum
    - prometheus_sd_triton_refresh_failures_total
    - prometheus_target_interval_length_seconds
    - prometheus_target_interval_length_seconds_count
    - prometheus_target_interval_length_seconds_sum
    - prometheus_target_scrape_pool_sync_total
    - prometheus_target_scrapes_exceeded_sample_limit_total
    - prometheus_target_skipped_scrapes_total
    - prometheus_target_sync_length_seconds
    - prometheus_target_sync_length_seconds_count
    - prometheus_target_sync_length_seconds_sum
    - prometheus_treecache_watcher_goroutines
    - prometheus_treecache_zookeeper_failures_total

  # List of metrics to extract from the Experimental Prometheus endpoint
  allowed_metrics_experimental:
    - db_ping_latency_seconds
    - db_ping_success
    - db_ping_timeout
    - gitlab_cache_operation_duration_seconds_bucket
    - gitlab_cache_operation_duration_seconds_count
    - gitlab_cache_operation_duration_seconds_sum
    - gitlab_rails_queue_duration_seconds_bucket
    - gitlab_rails_queue_duration_seconds_count
    - gitlab_rails_queue_duration_seconds_sum
    - gitlab_sql_duration_seconds_bucket
    - gitlab_sql_duration_seconds_count
    - gitlab_sql_duration_seconds_sum
    - gitlab_transaction_allocated_memory_bytes_bucket
    - gitlab_transaction_allocated_memory_bytes_count
    - gitlab_transaction_allocated_memory_bytes_sum
    - gitlab_transaction_cache_read_hit_count_total
    - gitlab_transaction_duration_seconds_bucket
    - gitlab_transaction_duration_seconds_count
    - gitlab_transaction_duration_seconds_sum
    - gitlab_transaction_new_redis_connections_total
    - gitlab_transaction_rails_queue_duration
    - gitlab_transaction_view_duration_total
    - gitlab_view_rendering_duration_seconds_bucket
    - gitlab_view_rendering_duration_seconds_count
    - gitlab_view_rendering_duration_seconds_sum
    - http_request_duration_seconds_bucket
    - http_request_duration_seconds_count
    - http_request_duration_seconds_sum
    - http_requests_total
    - redis_cache_ping_latency_seconds
    - redis_cache_ping_success
    - redis_cache_ping_timeout
    - redis_ping_latency_seconds
    - redis_ping_success
    - redis_ping_timeout
    - redis_queues_ping_latency_seconds
    - redis_queues_ping_success
    - redis_queues_ping_timeout
    - redis_shared_state_ping_latency_seconds
    - redis_shared_state_ping_success
    - redis_shared_state_ping_timeout
    - ruby_file_descriptors_total
    - ruby_gc_count
    - ruby_gc_heap_allocatable_pages
    - ruby_gc_heap_allocated_pages
    - ruby_gc_heap_available_slots
    - ruby_gc_heap_eden_pages
    - ruby_gc_heap_final_slots
    - ruby_gc_heap_free_slots
    - ruby_gc_heap_live_slots
    - ruby_gc_heap_marked_slots
    - ruby_gc_heap_sorted_length
    - ruby_gc_heap_swept_slots
    - ruby_gc_heap_tomb_pages
    - ruby_gc_major_gc_count
    - ruby_gc_malloc_increase_bytes
    - ruby_gc_malloc_increase_bytes_limit
    - ruby_gc_minor_gc_count
    - ruby_gc_oldmalloc_increase_bytes
    - ruby_gc_oldmalloc_increase_bytes_limit
    - ruby_gc_old_objects
    - ruby_gc_old_objects_limit
    - ruby_gc_remembered_wb_unprotected_objects
    - ruby_gc_remembered_wb_unprotected_objects_limit
    - ruby_gc_time_total
    - ruby_gc_total_allocated_objects
    - ruby_gc_total_allocated_pages
    - ruby_gc_total_freed_objects
    - ruby_gc_total_freed_pages
    - ruby_memory_usage_total
    - ruby_sampler_duration_seconds_bucket
    - ruby_sampler_duration_seconds_count
    - ruby_sampler_duration_seconds_sum
    - unicorn_active_connections
    - unicorn_queued_connections

instances:
    # Master URL to probe for service health status
  - gitlab_url: http://localhost

    # url of the metrics endpoint of prometheus
    prometheus_endpoint: http://localhost:9090

    # url of the internal metrics endpoint
    # This needs to be enabled in your Gitlab settings
    # see https://docs.gitlab.com/ce/administration/monitoring/prometheus/gitlab_metrics.html
    # prometheus_endpoint_internal: http://localhost/-/metrics

    # The histogram buckets can be noisy and generate a lot of tags.
    # send_histograms_buckets controls whether or not you want to pull them.
    #
    # send_histograms_buckets: True
    #
    # Note that like all checks based on the PrometheusCheck class, you can add
    # tags to the instance that will be added to all the metrics of this check
    # instance.
    #
    # tags:
    #   - 'mytag1:myValue1'

    # The (optional) connect_timeout will override the default value, and fail
    # the check if the time to establish the (TCP) connection exceeds the
    # connect_timeout value (in seconds)
    # connect_timeout: 5

    # The (optional) receive_timeout will override the default value, and fail
    # the check if the time to receive the server status from the Apache server
    # exceeds the receive_timeout value (in seconds)
    # receive_timeout: 15

    # Set to `false` to disable the validation of Gitlab's SSL certificates (default: true).
    # ssl_cert_validation: true

    # If ssl_cert_validation is enabled, you can provide a custom file
    # that lists trusted CA certificates (optional).
    # ssl_ca_certs: /path/to/CA/certificate/file
